:root {
  --defBlack: #1a1a1a;
  --defGray: #f8f8f8;
  --defGreen: #00a82d;
  --defHBlack: #404040;
  --light: #b8b8b8;
  --ligherdark: #f2f2f2;
  --lightB: #262626;
  --darkB: #1e1e1e;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

#note-container {
  flex-grow: 1;
}

.newNoteStyles {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--darkB);
}

.newNoteDiv1 {
  height: 20%;
  display: flex;
  flex-direction: column;
  background-color: var(--darkB);
}

.newNoteDiv2 {
  height: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  background-color: var(--darkB);
}

.newNoteInput {
  height: 10%;
  border: none;
  font-size: 36px;
  color: var(--ligherdark);
  background-color: var(--darkB);
  outline: none;
  font-weight: 700;
  width: 100%;
}

::placeholder {
  color: var(--ligherdark);
}

.newNoteDiv1InnerDiv1 {
  height: 65%;
}
.newNoteDiv1InnerDiv2 {
  height: 35%;
  border-bottom: 2px solid rgba(184, 184, 184, 0.025);
}

.newNoteInputText {
  padding-top: 8px;
  border-top: 2px solid rgba(184, 184, 184, 0.025);
  border-left: none;
  border-right: none;
  border-bottom: none;
  font-size: 16px;
  color: var(--defGray);
  outline: none;
  width: 100%;
  flex-grow: 1;
  background-color: var(--darkB);
  overflow: scroll;
}

.editorButtons {
  position: absolute;
  right: 0;
  top: 0;
  width: 300px;
  display: flex;
  height: 10%;
  align-items: center;
  justify-content: end;
  gap: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.read {
  color: var(--defHBlack);
  font-size: 12px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  height: 100%;
}
.read > h4 {
  margin: 0;
  text-align: center;
}

.removeStylingBtn {
  background-color: transparent;
  border: none;
  height: 50px;
  border-radius: 6px;
  cursor: pointer;
}

.removeStylingBtn:hover {
  color: var(--defGray);
}

.color {
  color: var(--defHBlack);
  font-size: 12px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  width: 100px;
  height: 100%;
}
.color > h4 {
  margin: 0;
  text-align: center;
}

.colorBtn {
  width: 100%;
  background-color: #00a82d;
  border: NONE;
  border-radius: 6px;
  height: 50px;
  cursor: pointer;
  transition: all 0.4s;
}

.colorBtn:hover {
  border: 1px solid black;
}

.fontSize {
  font-size: 12px;
  color: var(--defHBlack);
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.fontSize > h4 {
  text-align: center;
  padding: 0;
  margin: 0;
}

.fontBtns {
  display: flex;
  gap: 8px;
}

.fontBtns > button {
  border: none;
  border-radius: 6px;
  background-color: var(--defHBlack);
  height: 50px;
  cursor: pointer;
}

.fontBtns > button:hover {
  color: var(--defGray);
}

.selectColor {
  position: absolute;
  width: 100%;
  height: 200px;
  top: 100%;
  right: 0;
  background-color: var(--defHBlack);
  border-radius: 6px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  padding: 8px;
}

.selectColor > div {
  border-radius: 6px;
  cursor: pointer;
}

.selectColor > div:hover {
  scale: 0.98;
}

.color1 {
  background-color: var(--defGreen);
}
.color2 {
  background-color: white;
}
.color3 {
  background-color: yellow;
}
.color4 {
  background-color: blue;
}
.color5 {
  background-color: red;
}
.color6 {
  background-color: aqua;
}
