:root {
  --defBlack: #1a1a1a;
  --defGray: #f8f8f8;
  --defGreen: #00a82d;
}
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
  overflow-x: hidden;
  font-family: "Lato";
  display: flex;
}

#navbar-container {
  width: 20%;
  height: 100%;
}

#sidebar-container {
  width: 20%;
  height: 100%;
  background-color: var(--defGray);
}
