:root {
  --defBlack: #1a1a1a;
  --defGray: #f8f8f8;
  --defGreen: #00a82d;
  --defHBlack: #404040;
  --lightB: #262626;
  --darkB: #1e1e1e;
}

.navbarStyles {
  height: 100%;
  width: 100%;
  background-color: var(--lightB);
  color: white;
  z-index: 100;
}

.navbarTopContainer {
  height: 25%;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-right: 2px solid rgba(184, 184, 184, 0.05);
}

.navbarBottomContainer {
  height: 75%;
  background-color: var(--lightB);
  border-right: 2px solid rgba(184, 184, 184, 0.05);
}

.navbarTopContainerInnerDiv1 {
  height: 60%;
  display: flex;
  flex-direction: row;
}

.navbarTopContainerInnerDiv2 {
  height: 20%;
  display: flex;
  background-color: var(--defHBlack);
  position: relative;
  border-radius: 20px;
  justify-content: flex-end;
}

.ntcInnerDivUsernameDiv {
  height: 50px;
  width: 100%;
  font-size: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  align-self: flex-end;
}

.pictureDiv {
  height: 45px;
  width: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--defHBlack);
  font-size: 16px;
}

.navbarTopContainerInnerDiv2 > input {
  flex-grow: 1;
  background-color: var(--defHBlack);
  border: none;
  border-radius: 50px;
  outline: none;
  color: white;
  font-size: 16px;
  padding-left: 8px;
}

.navbarTopContainerInnerDiv2 > div {
  width: 35px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 8px;
  cursor: pointer;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}

.navbarTopContainerInnerDiv2 > div:hover {
  background-color: #00a82d;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}

.navbarBottomContainerInnerDiv1 {
  height: 20%;
  display: flex;
  background-color: var(--defHBlack);
  position: relative;
  border-radius: 20px;
  background-color: var(--defGreen);
  cursor: pointer;
}

.nbcInnerDiv1Con1 {
  width: 35px;
  height: 100%;
  display: flex;
  align-items: center;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  padding-left: 8px;
}

.nbcInnerDiv1Con2 {
  flex-grow: 1;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 8px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.nbcInnerDiv1Con2 > h1 {
  font-size: 16px;
}

.navbarBottomContainerInnerDiv1:hover {
  background-color: var(--defGray);
  color: var(--defBlack);
}

.navbarBottomContainerInnerDiv2 {
  height: 100%;
}

.navbarBottomContainerInnerDiv2 > nav {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.navbarBottomContainerInnerDiv2 > nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.navbarBottomContainerInnerDiv2 > nav > ul > li {
  height: 40px;
  padding: 12px;
  font-size: 16px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.liDiv1 {
  height: 100%;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 8px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}

.liDiv2 {
  flex-grow: 1;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 8px;
}

.mainLiDiv {
  display: flex;
  width: 100%;
  cursor: pointer;
}

.navbarBottomContainerInnerDiv2 > nav > ul > li:hover {
  background-color: var(--defHBlack) !important;
}

.homeLi:hover {
  background-color: var(--defHBlack);
}

.userDiv1 {
  height: 100%;
  width: 50px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  align-items: center;
}

.userDiv2 {
  flex-grow: 1;
}

.loginLi {
  position: absolute;
  width: 20%;
  left: 0;
  bottom: 8px;
}
